{% extends "layout.html" %}

{% block content %}

    <h3>Add/try a new username</h3>

    <form action="/users", method="POST">
        <label>Username (their @ handle):</label>
        <input type="text" name="username" placeholder="elonmusk">

        <button>Get User</button>
    </form>
    <hr>
    <p>Currently saved usernames:</p>

    <ul>
        {% for user in userlist %}
            <li>
                <a href={{"/users/" + user.screen_name}}>{{user.name}}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}