<!-- web_app/templates/layout.html -->

<!doctype html>
<html>
  <head>
    {% block title %}
      <title>TwitOff - Zachary Luck</title>
    {% endblock %}
  </head>

  <body>
    <!-- SITE NAVIGATION -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
      <div id="nav">
        {% block nav %}
          <h1>Twit-Off, predicting who said what</h1>
          <a href="/">Head back to the homepage</a>
        {% endblock %}
      </div>
      <hr>

      <!-- PAGE CONTENTS -->
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <!-- FOOTER -->
      <div id="footer">
        <hr>
        &copy; Copyright 2020 Zachary Luck |
        <a href="https://github.com/Lilchoto3/DS-Unit-3-TwitOff">source</a>
      </div>
    </div>

  </body>
</html>